.dashboard {
  background-color: #F9F8FB !important;
  padding: 0px !important;
}

.sidebar-left {
  background-color: #FFFEFE  !important;
  width: 100px !important;

  .v-navigation-drawer__content {
    overflow: unset;

    .list {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 100px;
      position: relative;
    }
  }

  .v-navigation-drawer__border {
    width: 0px;
  }

  .brand-container {
    display: flex;
    height: 64px;
    background-color: #FFFEFE;
    justify-content: center;
    align-items: center;
  }

  .v-list-item{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.menu-container{
  cursor: pointer;
  width: 90px;
  height: 75px;
  
  .menu-icon {
    margin-top: 15px;
    width: 25px;
    height: 25px;
  }
  
  .menu-name {
    margin-top: 0.2rem;
    text-align: center;
    font-size: 12px;
    color: #b0b1b0;
  }

}

.menu-active {
  background-color: #714333;
  border-radius: 0.8rem;

  .menu-name{
    color: white;
  }
}


.menu-container:hover{
  background-color: #714333;
  border-radius: 0.8rem;
 }

 .relative-setting{
  position: absolute;
  bottom: 5rem;
  width: 100px;
  height: 75px;
 }


}

@media only screen and (max-width: 1367px) {
  .dashboard {
    padding-left: 100px !important;
  }
}